annotated-types==0.7.0
beautifulsoup4==4.15.0
bs4==0.0.2
certifi==2026.6.17
charset-normalizer==3.4.9
dateparser==1.2.0
dotenv==0.9.9
et_xmlfile==2.0.0
idna==3.18
numpy==2.5.1
openpyxl==3.1.5
pandas==3.0.3
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
regex==2026.6.28
requests==2.34.2
six==1.17.0
soupsieve==2.8.4
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
